
label {
	font-size: 22px;
	text-transform: uppercase;
	letter-spacing: .2em;
	color:rgba(107,97,122,0.76);
	font-weight: 100;
}

#login_submit label,
legend {
	display: none;	
}

#login_submit {
	padding-top: 15px;
	border-top: 1px solid #eee;
	clear: left;
}


input[type="text"] {
	font-size: 21px;
	border: none;
	background-color: #e9e6ec;
	margin-top: 5px;
	margin-bottom: 25px;
}

input[type="text"]:focus {
	color:#6b627b;
	border: none;
	outline: none;
}

input[type="submit"],
input[type="submit"]:hover  {
	color: white;
	background:#6b627b;
	border: none;
	font-size:18px;
	text-transform: uppercase;
	letter-spacing: .3em;
	font-weight: 100;
	margin-top: 10px;
	
}

input[type="submit"]:hover {
	background: rgba(107,97,122,0.76);
}


.error {
	text-transform: inherit;
	letter-spacing: 0;
	color: rgba(0,0,0,0.34);
	font-size: 16px;
	font-weight: 500;
	margin-top:-10px;
}